.navbar.navbar-default {
    font-size: 28px;
    background: #1976d3;
    color: #e8eefd;
    font-weight: 600;
    vertical-align: middle;
    padding: 5px;
}

.navbar-brand {
    color: #e8eefd!important;
    font-weight: 400;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 28px;
    margin-left: 25px;
}

.nav.navbar-nav {
    text-align: center;
    background: #ffd900;
    width : 100%;
    padding: 5px;
    margin: 0px;
    
}
.div1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.div2 {
    background-color : rgb(192, 116, 179);
    margin: 15px;
    margin-bottom: 25px;
    font-size: 18px;
    padding: 15px;
}
.span1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.togglebar1 {
    border: 1px solid;
    width: 100%;
  
}
@media (max-width: 768px) {  
    .navbar.navbar-default .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
     .container-fluid .navbar-collapse {
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: -5px;
        }

     .container-fluid .navbar-toggle  {
         margin-right: 1rem;
     } 
    
    
}
